@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  // user-select: none：文本不能被选择
  user-select: none
  // 进制移动端链接跳转高亮
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text